.inter-font-used {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: #000;
  padding: 0;
  margin: 0 auto;
}

html, body,
.wrapper, #root, .App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  background: linear-gradient(357.09deg, #92d9c6 -3.04%, #FFFFFF 30.85%, #FFFFFF 75.09%);
}

body {
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  background-color:#ffffff;
  font-family: Inter, sans-serif;
}

.logo {
  max-width: 200px;
  width: 100%;
  height: auto;
  display: block;
  text-align:center;
  margin: 0 auto;
}

nav.updated-nav-tk {
  background: #fff;
  max-width: 400px;
  width: 100%;
  margin: 0 auto 30px;
  padding: 0;
}

nav.updated-nav-tk ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

nav.updated-nav-tk li {
  display: inline-block;
}

nav.updated-nav-tk a {
  color: #681e67; 
  padding: 10px;
  font-size: 20px;
  border-radius: 15px;
}

nav.updated-nav-tk a:hover, nav.updated-nav-tk a.active {
  color: #681e67;
  background: #abdad9;
}

/* -       Login Page & Signup Page-------- */

.login-page, .signup-page {
  background: linear-gradient(357.09deg, #DD64D8 -3.04%, #FFFFFF 30.85%, #FFFFFF 75.09%);
  max-width: 100%;
  height: 100%;
  display: block;
  text-align:center;
  padding-bottom: 100px;
}

.signup-page {
  background: linear-gradient(180deg, #FFFFFF 70.5%, #FB86A4 100%);
}

.login-page h1, .signup-page h1 {
  color: #582F72;
  margin-bottom: .5em;
    font-size: 40px;
    font-weight: 500;
}

.login-wrap, .signup-wrap {
  max-width: 420px;
  background: #CD305D;
  padding: 20px;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
}
.signup-wrap {
 background: #4F86B6;
}
.login-wrap label, .signup-wrap label {
  display: none;
}

.login-wrap input, .signup-wrap input {
  border-radius: 10px;
  color: #000;
  width: 100%;
  margin-bottom: 1em;
  background: #fff;
  padding: 10px;
}
.login-wrap button[type=submit], .signup-wrap button[type=submit] {
  width: 125px;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 1.5em;
  padding: 10px;
  border-radius: 20px;
  border: 0px solid transparent;
  cursor: pointer;
}

.login-error {
  margin-top: 14px;
  color: red;
  background: black;
  font-size: 0.9em;
}

/*-------  forgot passowrd & sign up links */
.login-wrap a {
  color: #fff;
  text-decoration: none;
}
.login-wrap a.signup {
  font-size: 20px;
  font-weight: 600;
}
.signup-wrap {
 background: #4F86B6;
}

/* SignUpPage.css
.signup-page {
  max-width: 400px;
  margin: auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #4F86B6;
}

.signup-page h2 {
  text-align: center;
}

.signup-page div {
  margin-bottom: 15px;
}

.signup-page label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;

}

.signup-page input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background: #000000;

}
  

.signup-page .error {
  color: red;
  font-size: 0.9em;
}
.signup-page button{
  background-color: #00A911;
align-content: center;
}
button:hover {
  background-color: #0056b3; 
}
.signup-page .button-container{
 display: flex;
 justify-content: center;

}
 */
/*LoginPage.css 
.login-page {
  max-width: 400px;
  margin: auto;
  padding: 50px;
  border: 2px solid #533174;
  border-radius: 30px;
  background-color: #CD305D;
}

.login-page h2 {
  text-align: center;
}

.login-page div {
  margin-bottom: 15px;
}

.login-page label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;

}

.login-page input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
}

.login-page .error {
  color: red;
  font-size: 0.9em;
}
.login-page button{
  background-color: #00A911;
align-content: center;
}

button:hover {
  background-color: #0056b3; 
}
.login-page .button-container{
  display: flex;
  justify-content: center;
  
 }
  .logo{
   max-width: 70%;
  
   display: block;
   margin-bottom: 20px;
 }
 */

/* -       Welcome Page-------- */

.welcome-wrap {
  background: linear-gradient(357.09deg, #92d9c6 -3.04%, #FFFFFF 30.85%, #FFFFFF 75.09%);
}

.welcome-wrap h1 {
   font-size: 3em;
   font-weight: 900;
   color: #6A1D67;
   text-align:center;
}

.welcome-wrap h2 {
   font-size: 64px;
   font-weight: 900;
   color: #CF365A;
   font-size: 20px;
   font-weight: 400;
   text-align:center;
}
/*
.button-wrap {
  width: 380px;
  padding: 20px;
  border-radius: 25px;
  display: block;
  font-size: 36px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.button-wrap .emoji {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.button-wrap.journal {
  background: #82C8C6AB;
}

.button-wrap.journal a {
  color: #CE335B;
}

.button-wrap.calendar {
  background: #ECB537B5;
}

.button-wrap.calendar a {
  color: #5C00AA;
}

.button-wrap.healthy-tips {
  background: #9C0A6A8A;
}

.button-wrap.healthy-tips a {
  color: #000;
}
*/
/* Header styles */
header {
  text-align: center;
  padding: 20px;
  background-color:#ffffff;
}

header .logoutButton {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
  cursor: pointer;
  margin: 10px;
}

/* header img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
} */

h1 {
  font-family: Inter;
  font-size: 64px;
  font-weight: 500;
  line-height: 77.45px;
  color: #6A1D67;
}

p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
}

/* -       Footer Help Line -------- */
footer {
  display: flex;
  background-color: #D9D9D9;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  /* position: fixed; */
  /* bottom: 0; */
  width: 100%;
  font-size: 20px;
}

.footer-reference a {
  color: #649460;
  text-decoration: none;
}

.footer-reference a.call {
  color: #002BC1;
  text-decoration: underline;
}

.footer-text {
  font-family: Inter;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 24.2px;
}

.footer-call {
  color: #00A911;
}

.footer-link {
  color: #002BC1;
  text-decoration: underline;
}

/* NavMenu styles */
/* src/components/NavMenu.css */

nav {
 /*  background-color: #533174; Bootstrap primary color */
  padding: 20px 10px; /* Padding for nav */
  width: 100%;
  max-width: 480px;
}

nav ul {
  list-style: none; /* Remove bullet points */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  display: flex; /* Use flexbox for horizontal layout */
  flex-direction: column;
}
/* 
nav li {
 margin-right: 20px;  Space between items 
}
*/
nav a {
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Bold text */
  transition: color 0.3s; /* Transition for hover effect */
}

nav a:hover {
  color: #ffd700; /* Gold color on hover */
}

nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 324px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  color: white;
}

nav button:hover {
  transform: scale(1.07);
  transition: transform 0.2s;
}

.homeButton {
  background-color: #6cda8aab;
  color: #0e215a;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
}

.journalButton {
  background-color: #82C8C6AB;
  color: #CE335B;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
}

.calendarButton {
  background-color: #ECB537B5;
  color: #5C00AA;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
}

.tipsButton {
  background-color: #9C0A6A8A;
  color: black;
  font-family: Inter;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.57px;
}

.button-wrap.healthy-tips a {
  color: #000;
}

.nav-icon {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

/* --------- Journal Page ----------- */

.journal-page h1 /* How Are You?*/ {
  color: #6A1D67;
  font-size: 24px;
} 

.journal-page .mood-wrap {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.journal-page .mood-wrap .card {
  flex: 0 0 20%;
  text-align: center;
}

.journal-page .mood-wrap .card .emoji, .journal-page .mood-wrap .card .caption {
  display: block;
  font-size: 16px;
  color: #000;
}

.journal-page h2 /* What's affecting your Mood? / What have you been up to?*/ {
  color: #6A1D67;
  font-size: 20px;
}

.journal-page .tags {
  background: #E7A144;
  color: #000;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.journal-page .tags .tag-button {
  background: gray;
  border-radius: 5px;
  flex: 0 0 auto;
}

.journal-page textarea {
  border-radius: 5px;
  background: #ABDAD9;
  color: #000;
  font-size: 16px;
}

.journal-page input[type=submit] {
  width: 125px;
  text-transform: uppercase;
  cursor: pointer;
}

/* Calendar.css */

.calendar {
  width: 100%;
  max-width: 500px;
  margin: 0 auto 50px;
}

.calendar-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 20px;
  background-color: #ffffff;
}

.calendar-header .col {
 min-height: 80px;
   justify-content: center;
  align-items: center;
  display: flex;
}

.icon {
  margin: auto;
  cursor: pointer;
  min-height: 48px;
}
.icon img {
  width: 50px;
  height: auto;
}

h2.mood-legend-title {
  display: none;
  color: #582F72;
  font-size: 25px;
  text-align: center;
  margin-bottom: .25em;
}

.mood-legend {
  display: none;
  max-width: 480px;
  /* display: flex; */
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-bottom: 1em;
}

.mood-legend .card {
  flex: 0 0 20%;
  text-align: center;
}

.mood-legend .card .color, .mood-legend .card .caption {
  display: block;
  font-size: 16px;
  color: #000;
}

.mood-legend .card .color.great,
.mood-legend .card .color.good,
.mood-legend .card .color.ok,
.mood-legend .card .color.bad,
.mood-legend .card .color.awful {
  background: #abdad9;
  border-radius: 10px;
  width: 40px; 
  height: 40px;
}

.mood-legend .card .color.good {
  background: #8dc1d3;
}

.mood-legend .card .color.ok {
  background: #82a5c8;
}

.mood-legend .card .color.bad {
  background: #dcaebf;
}

.mood-legend .card .color.awful {
  background: #bc89bd;
}

.days {
  display: flex;
  background-color: #abdad9;
  border-bottom: 1px solid #582f72;
}

.row {
  display: flex;
}

.col {
  flex: 1;
  padding: 10px;
  text-align: center;
  border: 1px solid #582f72;
}

.col-start {
  border-radius: 10px 0 0 0;
}

.col-end {
  border-radius: 0 10px 0 0;
}

.col-center {
  flex: 1;
  padding: 10px;
  text-align: center;
  border: 1px solid #582f72;
}

.col-month {
  color: #000;
  font-size: 20px;
  line-height: 1.25em;
  align-self: center;
}

.cell {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cell:hover {
  background-color: #e0e0e0;
}

.cell.disabled {
  color: #090202;
  opacity: .5;
  cursor: default;
  background-color: #fff;
}

.cell.selected {
  background-color: #abdad9;
}

.number {
  color: black;
  position: relative;
  z-index: 2;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 90%;
  height: 90%; */
  z-index: 1;
  display: none;
}
 
/* MentalHealthTips */

.mental-health-tips {
  padding: 20px;
  background-color: #dfcfe1;
  border-radius: 8px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.mental-health-tips h2 {
  text-align: center;
  color: #4CAF50;
}

.mental-health-tips ul {
  list-style-type: none;
  padding: 0;
}

.mental-health-tips li {
  color: #000;
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* JournalEntry */

.journal-entry {
  max-width: 500px;
  margin: 0 auto 20px;
  padding: 20px;
  background-color: #bfedf8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.journal-entry p {
  line-height: 2em;
  display: flex;
  justify-content: left;
  column-gap: 20px;
}

.journal-entry p strong {
  flex: 1 0 25%;
  text-align: left;
}

.journal-entry p span {
  flex: 1 0 75%;
  text-align: left;
}

.journal-calendar-text {
  font-size: 1.2em;
  line-height: 1.1;
  margin: 10px;
} 

.mood-emojis {
  display: flex;
}

.mood-select span {
  font-size: 2em;
  margin: 0 10px;
  cursor: pointer;
}

.mood-select:hover {
  transform: scale(1.2);
  transition: transform 0.2s;
}

.mood-description {
  color: #000;
  margin: 20px 0;
  font-size: 1.2em;
}

.journal-whats-affecting-text {
  color: #000;
}

.mood-triggers {
  margin: 20px 0;
}

.mood-triggers h2 {
  margin-bottom: 10px;
}

.triggers-list {
  max-width: 347px;
  display: flex;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.trigger {
  color: #002BC1;
  background-color: #82C6C9;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
}

input {
  color: #000;
  padding: 10px;
  width: calc(100% - 22px);
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.triggerButton {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}

.triggerButton:hover {
  background-color: #373b85;
}

.submitButton {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}



.submitButton:hover {
  background-color: #373b85;
}

.situation-description textarea {
  color: #000;
  width: calc(100% - 22px);
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

@media screen and (max-width: 420) {
  nav button {
    max-width: 280px;
  }
  .journalButton, .tipsButton {
    font-size: 1.75em;
  }
}

/* Journal entry page  */

.closeButton, .createButton {
    display: flex;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 40px;
}

.closeButton:hover, .createButton:hover {
  background-color: #373b85;
}

.journal-entry-page-header {
  font-family: Inter;
  margin: 20px auto;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.journal-entry-page-paragraph {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 15px 15px 15px;
  color: red;
}

.validation-message {
  color: red;
}