.inter-font-used {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  padding: 0;
  margin: 0 auto;
}
html,
body,
.wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body{
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  background-color:#ffffff;
  font-family: Inter, sans-serif;
}

.logo {
  max-width: 100%;
  height: auto;
  display: block;
  text-align:center;
}

/* -       Login Page & Signup Page-------- */

/* SignUpPage.css */
.signup-page {
  max-width: 400px;
  margin: auto;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 30px;
  background-color: #4F86B6;
}

.signup-page h2 {
  text-align: center;
}

.signup-page div {
  margin-bottom: 15px;
}

.signup-page label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;

}

.signup-page input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background: #000000;

}
  

.signup-page .error {
  color: red;
  font-size: 0.9em;
}
.signup-page button{
  background-color: #00A911;
align-content: center;
}
button:hover {
  background-color: #0056b3; 
}
.signup-page .button-container{
 display: flex;
 justify-content: center;

}
 .logo{
  max-width: 70%;
 
  display: block;
  margin-bottom: 20px;
}

/*LoginPage.css */
.login-page {
  max-width: 400px;
  margin: auto;
  padding: 50px;
  border: 2px solid #533174;
  border-radius: 30px;
  background-color: #CD305D;
}

.login-page h2 {
  text-align: center;
}

.login-page div {
  margin-bottom: 15px;
}

.login-page label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;

}

.login-page input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  background: black;
}

.login-page .error {
  color: red;
  font-size: 0.9em;
}
.login-page button{
  background-color: #00A911;
align-content: center;
}

button:hover {
  background-color: #0056b3; 
}
.login-page .button-container{
  display: flex;
  justify-content: center;
  
 }
  .logo{
   max-width: 70%;
  
   display: block;
   margin-bottom: 20px;
 }
 


/* -       Welcome Page-------- */

.welcome-wrap h1 {
   font-size: 64px;
   font-weight: 900;
   color: #6A1D67;
}

.welcome-wrap h2 {
   font-size: 64px;
   font-weight: 900;
   color: #CF365A;
   font-size: 20px;
   font-weight: 400;
}

.button-wrap {
  width: 380px;
  padding: 20px;
  border-radius: 25px;
  display: block;
  font-size: 36px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.button-wrap .emoji {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.button-wrap.journal {
  background: #82C8C6AB;
}

.button-wrap.journal a {
  color: #CE335B;
}

.button-wrap.calendar {
  background: #ECB537B5;
}

.button-wrap.calendar a {
  color: #5C00AA;
}

.button-wrap.healthy-tips {
  background: #9C0A6A8A;
}

/* Header styles */
header {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
}

header img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* Footer styles */
footer {
  background-color: #f0f0f0;
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* NavMenu styles */
/* src/components/NavMenu.css */

nav {
  background-color: #533174; /* Bootstrap primary color */
  padding: 20px 10px; /* Padding for nav */
}

nav ul {
  list-style: none; /* Remove bullet points */
  margin: 0; /* Reset margin */
  padding: 0; /* Reset padding */
  display: flex; /* Use flexbox for horizontal layout */
}

nav li {
  margin-right: 20px; /* Space between items */
}

nav a {
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  font-weight: bold; /* Bold text */
  transition: color 0.3s; /* Transition for hover effect */
}

nav a:hover {
  color: #ffd700; /* Gold color on hover */
}

nav button {
  background-color: transparent; /* Transparent background */
  border: none; /* Remove border */
  color: white; /* Text color */
  cursor: pointer; /* Pointer cursor */
  font-size: 16px; /* Font size */
}

nav button:hover {
  color: #ffd700; /* Change color on hover */
}

/* -       Footer Help Line -------- */

.footer {
 
  background: #533174;
  width: 100%;
  
  font-size: 20px;
  text-align: center;
  
}


.footer-reference a {
  color: #00A911;
  text-decoration: none;
}

.footer-reference a.call {
  color: #002BC1;
  text-decoration: underline;
}

.journal-page h1 /* How Are You?*/ {
  color: #6A1D67;
  font-size: 24px;
}

.journal-page .mood-wrap {
  max-width: 480px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.journal-page .mood-wrap .card {
  flex: 0 0 20%;
  text-align: center;
}

.journal-page .mood-wrap .card .emoji, .journal-page .mood-wrap .card .caption {
  display: block;
  font-size: 16px;
  color: #000;
}

.journal-page h2 /* What's affecting your Mood? / What have you been up to?*/ {
  color: #6A1D67;
  font-size: 20px;
}

.journal-page .tags {
  background: #E7A144;
  color: #000;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.journal-page .tags .tag-button {
  background: gray;
  border-radius: 5px;
  flex: 0 0 auto;
}

.journal-page textarea {
  border-radius: 5px;
  background: #ABDAD9;
  color: #000;
  font-size: 16px;
}

.journal-page input[type=submit] {
  width: 125px;
  text-transform: uppercase;
}